/* Add to Cart Button */
.cart-btn {
    background-color: #0073e6;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
    display: inline-block;
    width: 100%; /* Change width to auto for a smaller button */
    text-align: center;
    margin-bottom: 10px;
    font-size: 1em; /* Set a smaller font size */
}

/* WhatsApp Order Button */
.whatsapp-btn {
    background-color: #25D366;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
    display: inline-block;
    width: 100%; /* Change width to auto for a smaller button */
    text-align: center;
    margin-bottom: 10px;
    font-size: 1em; /* Set a smaller font size */
}
